@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    position: relative;
    min-height: 60vh;
    background: url('./bg-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.container {
    max-width: 1200px;
    margin: auto;
    width: 90%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
}

.nav-items {
    width: 40%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.headline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn {
    display: inline-block;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-headline {
    padding: 1rem 2rem;
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: 600;
}

.todo-section {
    margin-top: 5rem;
    text-align: center;
}

.bg-dark {
    background-color: #000;
    color: #fff;
}

.todo-form {
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.todo-form input {
    min-height: 100%;
}

.todo-form input[type='text'] {
    width: 78%;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: 400;
}

.todo-form input[type='submit'] {
    width: 20%;
    background-color: rgb(44, 55, 63);
    color: white;
    font-weight: bold;
}

.todo-list {
    text-align: left;
    font-size: 1.2rem;
    list-style-type: none;
}

.todo-list li { 
    padding: 0.7rem;
    background-color: #444;
    color: cyan;
    margin-top: 1rem;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.sign-up {
    margin: 5rem auto;
    text-align: center;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 1rem;
}

.signup-form {
    max-width: 800px;
    width: 95%;
    margin: auto;
    text-align: left;
}

.signup-form label{
    display: block;
}

.signup-form input {
    display: block;
    width: 100%;
    padding: 0.5rem;
}

.signup-form textarea {
    width: 100%;
}

.form-group {
    margin-top: 1rem;
}

.btn-signup {
    background-color: rgb(44, 55, 63);
    color: white;
    padding: 1rem 2rem;
    display: block;
    margin: auto;
    margin-top: 1rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    min-height: 100px;
    min-height: 100px;
    padding: 5rem;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
}

.grandparent {
    background-color: #b1d4e0;
    color: #000;
}

.parent {
    background-color: #145da0;
}

.child {
    background-color: #0c2d48;
}